.c-font {
  color: var(--color-font) !important;
}

.c-primary {
  color: var(--color-primary) !important;
}

.c-gray {
  color: var(--color-gray) !important;
}

.c-green {
  color: var(--color-green) !important;
}

.c-red {
  color: var(--color-red) !important;
}
.c-yellow {
  color: var(--color-yellow) !important;
}

